* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Ralewayregular;
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: Ralewaymedium;
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: Ralewaysemibold;
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: Ralewaybold;
  src: url(../fonts/Raleway-Bold.ttf);
}

.nav {
  max-width: 1920px;
  margin: 0 auto;
}

.nav img {
  width: 140px;
  height: auto;
  margin-top: 20px;
  margin-left: 150px;
}

.bg {
  position: relative;
}

.bg::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(170, 255, 199, 0.6),
      rgba(15, 144, 183, 0.7)
    ),
    url("../assets/buildings.png");
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: -1;
}

.wrapper {
  display: grid;
  max-width: 1920px;
  margin: 0 auto;
  grid-template-areas:
    "balloon form"
    "heading form"
    "car form";
  padding: 0px 150px;
  padding-right: 41px;
  align-items: end;
}

/* .container-right {
  display: flex;
  flex-direction: column;
  padding-top: 22.51px;
  padding-left: 150px;
  width: 50%;
  justify-content: flex-end;
} */

.ballon {
  grid-area: balloon;
}
.car {
  grid-area: car;
  padding-right: 56px;
  display: flex;
  align-items: flex-end;
}
.heading {
  grid-area: heading;
}

.ballon img {
  width: 112px;
  height: auto;
  padding-right: 14px;
  animation: bounce 2s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.heading h1 {
  padding-right: 26px;
  max-width: 584px;
  color: #f17b3b;
  margin-top: 77.12px;
  font-size: 48px;
  line-height: 56px;
  font-family: "Ralewaybold", sans-serif;
}
.car img {
  max-width: 596px;
  width: 100%;
  height: auto;
  margin-top: 77px;
  animation: car 1.5s linear 1;
}

@keyframes car {
  0% {
    transform: translateX(-500%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.container-left {
  max-width: 450px;
  padding-top: 16px;
  padding-bottom: 46px;
  padding-left: 42px;
  padding-right: 42px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 9px 40px #00000031;
  /* margin-left: 56.88px; */
  margin-bottom: 40px;
  /* margin-right: 50px; */
  grid-area: form;
}

.container-left h1.mobile {
  display: none;
}

.container-left h2 {
  text-align: center;
  color: #f17b3b;
  font-size: 24px;
  line-height: 29px;
  font-family: "Ralewaybold", sans-serif;
}
.submit {
  text-align: center;
}

.container-left input,
select,
textarea {
  width: 100%;
  margin-top: 11px;
  margin-bottom: 11px;
  padding: 16px 0px 16px 10px;
  color: #81a7a7;
  border: 1px solid #81a7a7;
  font-size: 17px;
  line-height: 20px;
  font-family: "Ralewaysemibold", sans-serif;
}

::placeholder {
  color: #81a7a7;
}

.container-left label {
  font-size: 10px;
  line-height: 11px;
  font-family: "Ralewaymedium", sans-serif;
}

.container-left .agree {
  font-size: 11px;
  line-height: 13px;
}
.container-left input[type="checkbox"] {
  width: auto;
  text-align: left;
  accent-color: #f17b3b;
  color: white;
  padding-right: 20px;
}

.checkbox{  
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-left input[type="submit"] {
  width: 157px;
  margin-top: 27px;
  margin-bottom: 0px;
  border-radius: 5px;
  border: none;
  background-color: #f17b3b;
  color: white;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 40px;
  line-height: 47px;
  color: #1ab164;
  font-family: "Ralewaybold", sans-serif;
}

.key-benefits {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 880px;
  margin: 36px auto;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key-benefits p {
  margin-top: 11px;
  font-size: 11px;
  line-height: 11px;
  font-family: "Ralewaybold", sans-serif;
  text-align: center;
}

.key-benefits span {
  font-size: 10px;
  font-family: "Ralewaymedium", sans-serif;
}

#testimonials {
  background-image: url(../assets/gradient2.png);
  background-position: top center;
  background-repeat: repeat-x;
  padding: 30px;
}

.testimonials-head p {
  font-size: 40px;
  line-height: 47px;
  font-family: "Ralewaybold", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial {
  position: relative;
}

.human {
  position: absolute;
  top: 17px;
  left: 18px;
}

.quote {
  position: absolute;
  top: 30px;
  left: 107px;
}

.quote p {
  font-family: "Ralewaymedium", sans-serif;
  padding-left: 16px;
  color: #427779;
}

.quote h3 {
  text-transform: uppercase;
  color: #733a7e;
  font-family: "Ralewaybold", sans-serif;
  padding-left: 16px;
}

.testimonial-content {
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 36px;
}

#Disclaimer {
  max-width: 924px;
  padding-top: 71px;
  padding-bottom: 50px;
  padding-left: 41px;
  padding-right: 41px;
  margin: 0 auto;
}

.disclaimerhead p {
  font-size: 14px;
  line-height: 20px;
  font-family: "Ralewaymedium", sans-serif;
}

.disclaimercontent p {
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  font-family: "Ralewayregular", sans-serif;
}

.privacypolicyhead p {
  font-size: 14px;
  line-height: 20px;
  font-family: "Ralewaymedium", sans-serif;
}

.privacypolicycontent p {
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  font-family: "Ralewayregular", sans-serif;
}

#footer {
  background-color: #1db0ea;
  width: 100%;
  color: white;
}

#footer p {
  font-size: 18px;
  line-height: 36px;
  font-family: "Ralewayregular", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav img {
    width: 140px;
    height: auto;
    margin-top: 20px;
    margin-left: 0px;
  }

  .bg::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.29;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(170, 255, 199, 0.2),
        rgba(15, 144, 183, 0.6)
      ),
      url("../assets/buildings.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    z-index: -1;
  }

  .wrapper {
    grid-template-areas:
      "heading"
      "form"
      "ballon"
      "car";
    padding: 0px 41px;
    align-items: end;
  }

  .heading h1 {
    font-size: 25px;
    line-height: 30px;
    color: white;
    font-family: "Ralewaybold", sans-serif;
    background-color: #f17b3b;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 12px;
    text-align: center;
    max-width: 542px;
  }

  .container-left {
    padding: 0px;
    max-width: 542px;
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
    box-shadow: 0px 5px 20px #0000001a;
    margin-bottom: auto;
  }

  /* .container-left h1.mobile {
    display: flex;
    font-size: 25px;
    line-height: 30px;
    color: white;
    font-family: "Ralewaybold", sans-serif;
    background-color: #f17b3b;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 12px;
    text-align: center;
  } */

  .container-left h2 {
    font-size: 22px;
    line-height: 26px;
    margin-top: 24px;
    justify-content: center;
  }

  .form {
    padding: 23px 45px 41px 45px;
  }

  .container-left .form input,
  select,
  textarea {
    margin-top: 10px;
    padding: 16px 0px 16px 14px;
    font-family: "Ralewaymedium", sans-serif;
  }

  .container-left input[type="checkbox"] {
    width: auto;
  }

  .checkbox{     
  display: flex;
  align-items: center;
  justify-content: center;   
    margin-top: 27px;
  }

  .container-left input[type="submit"] {
    width: 157px;
    margin-top: 27px;
    margin-bottom: 0px;
    border-radius: 5px;
    border: none;
    background-color: #f17b3b;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-family: "Ralewaybold", sans-serif;
    line-height: 15px;
  }
  .ballon {
    display: none;
  }
  .car{
    display: flex;    
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-right: 0px;
  }

  .car img {
    max-width: 50%;
    height: auto;
    margin-top: 77px;
  }

  .key-benefits {
    display: block;
    max-width: 380px;
    margin: 25px auto;
  }

  .benefit-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px;
  }

  #testimonials {
    padding: 15px;
  }

  .testimonials-head p {
    font-size: 25px;
    line-height: 30px;
  }

  .testimonial-content {
    margin: 0 auto;
    margin-top: 36px;
    max-width: 350px;
  }

  #Disclaimer {
    padding: 50px 41px;
  }

  .disclaimerhead p {
    font-size: 16px;
    line-height: 23px;
    font-family: "Ralewaysemibold", sans-serif;
  }

  .disclaimercontent p {
    font-size: 16px;
    line-height: 23px;
    color: #707070;
  }

  .privacypolicyhead p {
    font-size: 16px;
    line-height: 23px;
    font-family: "Ralewaysemibold", sans-serif;
  }

  .privacypolicycontent p {
    font-size: 16px;
    line-height: 23px;
    color: #707070;
  }

  #footer {
    background-color: #1db0ea;
    width: 100%;
    color: white;
  }

  #footer p {
    font-size: 16px;
    line-height: 36px;
    font-family: "Ralewayregular", sans-serif;
    padding: 16px auto;
    text-align: center;
  }
}